body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(248, 250, 255);
}

header {
  border-bottom: 0.1px solid;
  border-color: rgb(177, 177, 177);
  padding: 4px 40px;
  background-color: rgb(236, 242, 255);
  margin-bottom: 60px;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  color: rgb(0, 34, 109);
}

.nav-desktop {
  display: none;
  position: absolute;
  top: 72px;
  right: 0;
  background-color: rgb(236, 242, 255);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 180px;
}

.nav-desktop a {
  display: block;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: rgb(0, 34, 109); 
}

.menu-icon {
  font-size: 40px;
  color: rgb(0, 34, 109);
  cursor: pointer;
}

.card {
  background: lightyellow;
  margin: 20px 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

button {
  margin-top: 10px;
  padding: 12px 28px;
  border: none;
  background: rgb(141, 177, 255);
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(106, 153, 255);
}

.show-menu {
  display: block;
}

.swiper {
  width: 100%;
  padding: 20px 0 50px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.card {
  background: lightyellow;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  width: 80%;
  max-width: 320px;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(0, 34, 109);
}

.swiper-pagination-bullet-active {
  background: rgb(0, 34, 109);
}

@media (min-width: 768px) {
  .nav-desktop {
    display: flex;
    position: static;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    width: auto;
    gap: 20px;

  }

  .menu-icon {
    display: none;
  }

  main {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .card {
    width: 300px;
  }
}