body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(228, 248, 255);
}

header {
  border-bottom: 1px solid;
  padding: 15px 20px;
  background-color: rgb(188, 207, 249);
  padding-bottom: 40px;
  margin-bottom: 60px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-desktop {
  display: none;
}

.nav-desktop a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.menu-icon {
  font-size: 45px;
}

.card {
  background: lightyellow;
  margin: 20px auto;
  padding: 15px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

button {
  margin-top: 10px;
  padding: 10px 16px;
  border: none;
  background: lightblue;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(104, 184, 255);
}

@media (min-width: 768px) {
  .nav-desktop {
    display: block;
  }

  .menu-icon {
    display: none;
  }

  main {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .card {
    width: 300px;
  }
}